# Introduction to scikit learn (sklearn)

This notebook is demonstration of most of the useful funtions of sklearn.

What we're covering:
0. An end to end Scikit-learn workflow
1. Getting the data ready
2. Choose the right estimators/algo for our problems
3. Fit the model/algo and use it to make predictions on our data
4. Evaluate the model
5. Improve the model
6. Save and load the model
7. Putting it all together!

## 0. An end to end Scikit Learn workflow

In [10]:
# 1. Get the data ready
import numpy as np
import pandas as pd
heart_disease = pd.read_csv("/content/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [11]:
# Create X (feature matrix)
X = heart_disease.drop("target", axis=1) 

# Create y labels
y = heart_disease["target"]

In [12]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# let's keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [13]:
# Fit the model to the training data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.2)

In [14]:
clf.fit(X_train,y_train);

In [16]:
# Make a prediction
y_preds = clf.predict(X_test)
y_preds

array([1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1])

In [17]:
y_test

38     1
20     1
52     1
15     1
128    1
      ..
36     1
65     1
210    0
114    1
116    1
Name: target, Length: 61, dtype: int64

In [18]:
# 4. Evaluate the model on the training data and test data
clf.score(X_train,y_train)

1.0

In [19]:
clf.score(X_test, y_test)

0.8688524590163934

In [20]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [22]:
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.77      0.91      0.83        22
           1       0.94      0.85      0.89        39

    accuracy                           0.87        61
   macro avg       0.86      0.88      0.86        61
weighted avg       0.88      0.87      0.87        61

In [24]:
confusion_matrix(y_test, y_preds)

array([[20,  2],
       [ 6, 33]])

In [25]:
accuracy_score(y_test, y_preds)

0.8688524590163934

In [28]:
# 5. improve the model
# Try different amounts of n_estimators
np.random.seed(42)
for i in range(10,100,10):
  print(f"Trying modle with {i} estimators...")
  clf = RandomForestClassifier(n_estimators=i).fit(X_train,y_train)
  print(f"Model accuracy on test set:{clf.score(X_test, y_test)*100:.2f}%")
  print("")

Trying modle with 10 estimators...
Model accuracy on test set:81.97%

Trying modle with 20 estimators...
Model accuracy on test set:88.52%

Trying modle with 30 estimators...
Model accuracy on test set:86.89%

Trying modle with 40 estimators...
Model accuracy on test set:88.52%

Trying modle with 50 estimators...
Model accuracy on test set:85.25%

Trying modle with 60 estimators...
Model accuracy on test set:88.52%

Trying modle with 70 estimators...
Model accuracy on test set:85.25%

Trying modle with 80 estimators...
Model accuracy on test set:88.52%

Trying modle with 90 estimators...
Model accuracy on test set:86.89%

In [29]:
# 6. Save a model and load it
import pickle
pickle.dump(clf, open("random_forest_model", "wb")) # wb= binary

In [31]:
loaded_model = pickle.load(open("random_forest_model", "rb")) #rb= read binary
loaded_model.score(X_test, y_test)

0.8688524590163934